/* Hyperlinks */
a:link, a:visited, a:active {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #278ae2;
  text-decoration: none;
}

/* Body */
.body {
  color:#FFFFFF;
  background-color: #278a27; /* Blue: #278ae2 */
  font-family: system-ui;
}

.title {
  color:#FFFFFF;
  font-family: system-ui;
}

/* Icon */
.icon {
  width: 82px;
  height: 82px;
}

/* Nav */
.nav {
  color: #FFFFFF;
  font-family: system-ui;
  font-size: 42px;
  text-align: center;
  word-spacing: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* Main Content Box */
.box {
  /* Box Style */
  background-color: #272727;
  border-radius: 32px;
  outline: 5px solid #e9e427;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  /* Text */
  color: #FFFFFF;
  font-family: system-ui;
}

/* Main Content Box - Contents */
.box > div {
  width: 97.5%;
  height: auto;
  margin: auto;
  border-radius: 16px;
  font-size: 24px;
}

/* Hover Text */
.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.25s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}